.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  min-height: 52px;
  padding: 0 24px;

  border-radius: var(--radius-pill);

  font-weight: 600;
  font-size: 15px;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;

  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
}

.button-primary {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0 5px 0 var(--primary-dark);
}

.button-primary:hover {
  background: var(--primary-dark);
}

.button-outline {
  background: transparent;
  color: var(--text);
  border: 1.5px solid var(--border);
}

.button-dark {
  background: var(--black);
  color: var(--white);
}

.button:hover .aiIcon {
  transform: scale(1.1);
  color: white;
}
